<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Details</title>
  </head>

  <body>
    <h1 style="text-align:center">Course Details</h1>
    <ul>
      <li > DAC - Diploma in Advance Computing. Java and other stuff</li>
      <li ><i> DBDA - Diploma in Big Data Analytics</i></li>
      <li ><u>DITSS - Diploma is some security</u></li>
    </ul>
  </body>
</html>
